*.log
*.trs
/test_adfDays2Date
/test_adfPos2DataBlock
/test_adf_file_util
/test_file_append
/test_file_create
/test_file_overwrite
/test_file_overwrite2
/test_file_seek
/test_file_seek_after_write
/test_file_truncate
/test_file_truncate2
/test_file_write
/test_file_write_chunks
/test_test_util
