Source: libadf
Section: libs
Priority: optional
Maintainer: Tomasz Wolak <tomas.wolak@gmail.com>
Build-Depends: dh-autoreconf,
               debhelper (>= 9),
               autotools-dev
Standards-Version: 4.3.0
Homepage: https://gitlab.com/lclevy/ADFlib
Vcs-Git: https://gitlab.com/lclevy/ADFlib
Vcs-Browser: https://gitlab.com/lclevy/ADFlib/tree/master

Package: libadf
Architecture: any
Multi-Arch: same
Section: libs
Depends: ${shlibs:Depends},
         ${misc:Depends}
Pre-Depends: ${misc:Pre-Depends}
Description: ADFlib - shared library.
 ADFlib is a a free, portable and open implementation of the Amiga filesystem.
 .
 This package contains the shared library.

Package: libadf-dev
Architecture: any
Multi-Arch: same
Section: libdevel
Depends: libadf (= ${binary:Version}),
         ${shlibs:Depends},
         ${misc:Depends}
Pre-Depends: ${misc:Pre-Depends}
Description: ADFlib - development files
 ADFlib is a a free, portable and open implementation of the Amiga filesystem.
 .
 This package contains the development files.

Package: libadf-utils
Architecture: any
Multi-Arch: no
Section: utils
Depends: libadf (= ${binary:Version}),
         ${shlibs:Depends},
         ${misc:Depends}
Pre-Depends: ${misc:Pre-Depends}
Description: Utilities for Amiga disk image files (ADF).
 Utilities for ADF disk images:
 .
 adf_floppy_create - create a new floppy disk image file
 adf_floppy_format - format a floppy disk (an image or a device)
 adf_show_metadata - display low-level info about a device/adf file
                     or a file/directory

Package: unadf
Architecture: any
Multi-Arch: no
Section: utils
Depends: libadf (= ${binary:Version}),
         ${shlibs:Depends},
         ${misc:Depends}
Pre-Depends: ${misc:Pre-Depends}
Description: unadf - list and extract utility for ADF files.
 unadf - an utility for listing and extracting files from Amiga disk image
 files (ADF).

